$tiny: 320px;
$small: 640px;
$medium: 768px;
$large: 1024px;

$gui-scale-lg: 3;
$gui-scale-sm: 2;
$gui-scale-xs: 1.5;

@mixin gui {
    @media (max-width: $tiny) {
        @content($gui-scale-xs);
    }
    @media (max-width: $small) and (min-width: $tiny) {
        @content($gui-scale-sm);
    }
    @media (min-width: $small) {
        @content($gui-scale-lg);
    }
}
