@import '_master';

$refiner-icons: 10;

@font-face {
    font-family: "Minecraft";
    src: url("/fonts/MinecraftRegular.otf");
}
@font-face {
    font-family: "Minecraft";
    src: url("/fonts/MinecraftBold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "Minecraft";
    src: url("/fonts/MinecraftItalic.otf");
    font-style: italic;
}
@font-face {
    font-family: "Minecraft";
    src: url("/fonts/MinecraftBoldItalic.otf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Minecraft";
    src: url("/fonts/MinecraftItalic.otf");
    font-style: oblique;
}
@font-face {
    font-family: "Minecraft";
    src: url("/fonts/MinecraftBoldItalic.otf");
    font-weight: bold;
    font-style: oblique;
}

.gui {
    display: flex;
}

.gui-transparent {
    opacity: 0.5;
    transition: opacity 0.5s;
}

.gui-transparent:hover {
    opacity: 1;
}

.gui-tab {
    background-image: url('/images/gui/tab.png');
    @include gui() using ($gui-scale) {
        width: 22px * $gui-scale;
        height: 28px * $gui-scale;
    }
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: pixelated;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.gui-border {
    border-image-source: url('/images/gui/border.png');
    border-image-slice: 4 fill;
    border-image-repeat: repeat;
    image-rendering: pixelated;
    display: flex;
    flex-direction: column;
    @include gui() using ($gui-scale) {
        border-width: 4px * $gui-scale;
        padding: 6px * $gui-scale;
        gap: 4px * $gui-scale;
    }
}

.gui-tab + .gui-border {
    position: relative;
    @include gui() using ($gui-scale) {
        left: -4px * $gui-scale;
    }
}

.gui-recipe {
    display: flex;
    align-items: center;
    @include gui() using ($gui-scale) {
        column-gap: 4px * $gui-scale;
    }
}

.gui-slot {
    image-rendering: pixelated;
    @include gui() using ($gui-scale) {
        width: 18px * $gui-scale;
        height: 18px * $gui-scale;
    }
}

.gui-slot-back {
    background-image: url('/images/gui/slot.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.gui-arrow {
    flex-shrink: 0;
    @include gui() using ($gui-scale) {
        width: 22px * $gui-scale;
    }
}

.gui-power {
    @include gui() using ($gui-scale) {
        width: 10px * $gui-scale;
    }
}

.gui-time {
    @include gui() using ($gui-scale) {
        width: 12px * $gui-scale;
    }
}

.gui-smelt {
    @include gui() using ($gui-scale) {
        width: 18px * $gui-scale;
    }
}

.gui-experience {
    @include gui() using ($gui-scale) {
        width: 9px * $gui-scale;
    }
}

.gui-large-slot {
    border-image-source: url('/images/gui/slot.png');
    border-image-slice: 3 fill;
    border-image-repeat: repeat;
    image-rendering: pixelated;
    box-sizing: content-box;
    @include gui() using ($gui-scale) {
        width: 18px * $gui-scale;
        height: 18px * $gui-scale;
        border-width: 3px * $gui-scale;
    }
}

.gui-stack-count {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    left: 1px;
    text-align: right;
    pointer-events: none;
    @include gui() using ($gui-scale) {
        width: 18px * $gui-scale;
        height: 18px * $gui-scale;
        bottom: (17px * $gui-scale) - 1.1px;
        padding: 1.25px * $gui-scale;
    }
}

.gui-stacks {
    display: flex;
    flex-wrap: wrap;
}

.gui-recipe-stats {
    display: flex;
    @include gui() using ($gui-scale) {
        gap: 6px * $gui-scale;
    }
}

.gui-recipe-stats > div {
    display: flex;
    align-items: center;
    @include gui() using ($gui-scale) {
        gap: 3px * $gui-scale;
    }
}

.gui-refiner-icon {
    @include gui() using ($gui-scale) {
        width: 14px * $gui-scale;
        height: 14px * $gui-scale;
    }
    background-repeat: no-repeat;
    background-size: cover;
}

@for $i from 0 to $refiner-icons {
    .gui-refiner-icon-#{$i} {
        background-image: url('/images/gui/refiner.png');
        @include gui() using ($gui-scale) {
            background-position-y: 14px * $gui-scale * -$i;
        }
    }
}

img.gui-ingredient {
    image-rendering: high-quality;
}

.gui-loot-table {

}

.gui-loot-pool {

}

.gui-loot-entry {
    display: flex;
    align-items: center;
    @include gui() using ($gui-scale) {
        gap: 3px * $gui-scale;
    }
}

.gui-loot-modifiers {
    display: flex;
    flex-direction: column;
    @include gui() using ($gui-scale) {
        row-gap: 1px * $gui-scale;
        font-size: 8px * $gui-scale;
        line-height: 8px * $gui-scale;
        word-spacing: 0.8px * $gui-scale;
        text-shadow: (0.8px * $gui-scale) (0.8px * $gui-scale) 0 #3F3F3F;
    }
}

#gui-tooltip {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #100010;
    background-color: rgba(16,0,16,0.94);
    padding: 0.375em;
    line-height: 1.25em;
    margin: 0.125em 0.25em;
    pointer-events: none;
    z-index: 9999;
    display: none;
}

.mc-text {
    font-family: Minecraft,"WenQuanYi Bitmap Song",SimSun,Unifont,NISC18030,Beijing,Courier,sans-serif;
    white-space: nowrap;
    color: #FFF;
    @include gui() using ($gui-scale) {
        font-size: 10px * $gui-scale;
        line-height: 10px * $gui-scale;
        word-spacing: 1px * $gui-scale;
        text-shadow: (1px * $gui-scale) (1px * $gui-scale) 0 #3F3F3F;
    }
}

.mc-text-enchant {
    background: linear-gradient(30deg, #c2a1ff 20%, #d4d6ff 50%, #c2a1ff 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 6s infinite linear;
    @keyframes textShine {
        to {
            background-position: 200%;
        }
    }
    text-shadow: none;
    @include gui() using ($gui-scale) {
        filter: drop-shadow((1px * $gui-scale) (1px * $gui-scale) 0 #401d54);
    }
}

#gui-tooltip::before {
    content: "";
    position: absolute;
    top: 0.125em;
    right: -0.125em;
    bottom: 0.125em;
    left: -0.125em;
    border-width: 0.125em;
    border-style: none solid;
    border-color: rgba(16,0,16,0.94);
}

#gui-tooltip::after {
    content: "";
    position: absolute;
    top: 0.125em;
    right: 0;
    bottom: 0.125em;
    left: 0;
    border: 0.125em solid #2D0A63;
    border-image: -webkit-linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
    border-image: linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
}
