@import 'master';

.wiki-separator {
    padding: 0 2px;
    color: #999;
}

.wiki-color {
    display: flex;
    align-items: center;
    padding: 2px;
    gap: 8px;
}

.wiki-color-details {
    display: flex;
    align-items: center;
    gap: 4px;
}

.wiki-color-swatch {
    display: inline-block;
    background-image: url("/images/gui/swatch1.png"), url("/images/gui/swatch2.png");
    background-blend-mode: multiply, normal;
    width: 24px * 2;
    height: 12px * 2;
    background-size: cover;
    image-rendering: pixelated;
}

.wiki-recipe-note {
    @include gui() using ($gui-scale) {
        padding: (4px * $gui-scale) 0;
    }
}

#wiki-search {
    flex-basis: 360px;
}

.wiki-card {

}

.wiki-card-img {
    height: 170px;
    background-size: cover;
    background-position-x: center;
}

.wiki-search-image {
    min-width: 130px;
    min-height: 130px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.wiki-article-list {

}

.wiki-article-list-image {
    width: 72px;
    min-height: 54px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.wiki-header-image img {
    height: 126px;
}

header .gui-slot-back {
    background-image: none;
}

header .wiki-color-details {
    display: none;
    @media (min-width: $small) {
        display: block;
    }
}
